.playlistB {
  display: flex;
  inline-size: 17.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s background;
  /* flex-shrink: 0; */
  /* flex: 1; */
}

.playlistB:hover,
.playlistB:focus-within {
  background: rgba(255, 255, 255, 0.2);
}

.playlistB-details {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.playlistB-cover img {
  vertical-align: middle;
  inline-size: 4.75rem;
  block-size: 4.75rem;
}

.playlistB-title {
  color: var(--white);
  font: var(--baseFontBold);
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.playlistB:hover .playlistB-control,
.playlistB:focus-within .playlistB-control {
  opacity: 1;
}

.playlistB-control {
  opacity: 0;
  transition: 0.3s;
}
